<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection"  connectionString="Data Source=tcp:ywgi8uudae.database.windows.net,1433;Initial Catalog=[YOUR CATALOG];Persist Security Info=True;User ID=[YOUR USER ID];Password=[YOUR PASSWORD];Integrated Security=False;Persist Security Info=True;Encrypt=True" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[YOUR ACCOUNT NAME];AccountKey=[YOUR ACCOUNT KEY]" />
    <!--[CHANGE THAT]-->
    <add key="StorageUrl" value="https://thewall9.blob.core.windows.net" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <elmah xdt:Transform="Insert">
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    <security allowRemoteAccess="1" />
    <errorMail
        from="error@thewall9.com"
        to="[YOUR EMAIL]"
        subject="ERROR API THEWALL9"
        priority="Low"
        async="true"
        smtpPort="25"
        smtpServer="smtp.sendgrid.net"
        useSsl="true"
        userName="[SENDGRID USERNAME]"
        password="[SENDGRID PASSWORD]" />
  </elmah>
</configuration>
