<!DOCTYPE html>
<html lang="en" data-ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>thewall9 - Portal clientes</title>
    <link href='~/content/min/app.css' rel='stylesheet' type='text/css'>
    <script src="~/scripts/min/modernizr.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper" data-ng-controller="appController">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">{{site.SiteName}}</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <div ng-if="sites.length==1">
                        <i class="glyphicon glyphicon-cloud"></i> {{site.SiteName}}
                    </div>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" ng-if="sites.length>1">
                        <i class="glyphicon glyphicon-cloud"></i> {{site.SiteName}}  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu" ng-if="sites.length>1">
                        <li ng-repeat="item in sites">
                            <a href="" ng-click="changeSite(item)"><i class="glyphicon glyphicon-cloud"></i> {{item.SiteName}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="fa fa-user fa-fw"></i> {{authentication.userName}} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#/password">
                                <i class="glyphicon glyphicon-lock"></i> Cambiar Clave
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" data-ng-click="logOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href="#/">
                                <i class="fa fa-dashboard fa-fw"></i> Inicio
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#/configuration">
                                <i class="fa fa-gear fa-fw"></i> Configuración del Sitio
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#/pages">
                                <i class="fa fa-files-o fa-fw"></i> Páginas
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#/content" ng-if="isAdmin">
                                <i class="fa fa-edit fa-fw"></i> Contenido (Estructura)
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#/content/edit">
                                <i class="fa fa-edit fa-fw"></i> Contenido
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#/content/edit2">
                                <i class="fa fa-edit fa-fw"></i> Contenido (Nuevo-BETA)
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-question  fa-fw"></i>
                                Soporte, Mensajes e Ideas<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="https://thewall9.uservoice.com" data-uv-trigger="contact">
                                        <i class="fa fa-question fa-fw"></i> Envianos un Mensaje
                                    </a>
                                </li>
                                <li>
                                    <a href="https://thewall9.uservoice.com" data-uv-trigger="smartvote">
                                        <i class="fa fa-lightbulb-o fa-fw"></i> Déjanos tu Idea
                                    </a>
                                </li>
                                <li>
                                    <a href="https://thewall9.uservoice.com" data-uv-trigger="satisfaction">
                                        <i class="fa fa-thumbs-o-up fa-fw"></i> ¿Cómo te parece thewall9?
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li ng-show="site.ECommerce">
                            <a href="#">
                                <i class="fa fa-shopping-cart fa-fw"></i>
                                E-Commerce <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/categories">
                                        <i class="fa fa-flag fa-fw"></i> Categorias
                                    </a>
                                </li>
                                <li>
                                    <a href="#/currencies">
                                        <i class="fa fa-usd fa-fw"></i> Monedas
                                    </a>
                                </li>
                                <li>
                                    <a href="#/tags">
                                        <i class="fa fa-tags fa-fw"></i> Tags
                                    </a>
                                </li>
                                <li>
                                    <a href="#/products">
                                        <i class="fa fa-shopping-cart fa-fw"></i> Products
                                    </a>
                                </li>
                                <li>
                                    <a href="#/orders">
                                        <i class="fa fa-paper-plane fa-fw"></i> Orders
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li ng-show="site.Blog">
                            <a href="#">
                                <i class="fa fa-shopping-cart fa-fw"></i>
                                Blog <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#/blog">
                                        <i class="fa fa-comments fa-fw"></i> Posts
                                    </a>
                                </li>
                                <li>
                                    <a href="#/blog/post">
                                        <i class="fa fa-comment-o fa-fw"></i> Nuevo Post
                                    </a>
                                </li>
                                <li>
                                    <a href="#/blog/categories">
                                        <i class="fa fa-flag fa-fw"></i> Categorias
                                    </a>
                                </li>
                                @*<li>
                                    <a href="#/blog/tags">
                                        <i class="fa fa-tags fa-fw"></i> Tags
                                    </a>
                                </li>*@
                            </ul>
                        </li>
                        <li>
                            <a class="active" href="#/media">
                                <i class="fa fa-picture-o fa-fw"></i> Archivos e Imagenes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" data-ng-view="">

        </div>
    </div>
    <script>
        var serviceBase = '@APP._API_URL';
    </script>
    <script src="~/scripts/min/app.js"></script>
    <script src="~/scripts/min/tinymce.min.js"></script>
    <script src="~/scripts/min/angular.js"></script>
    <script src="~/scripts/min/app-angular.js"></script>
    @if (!Request.IsLocal)
    {
        <script>
            // Include the UserVoice JavaScript SDK (only needed once on a page)
            UserVoice = window.UserVoice || []; (function () { var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true; uv.src = '//widget.uservoice.com/JAdtrFpKZQwctVVJQrW8Rw.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s) })();

            //
            // UserVoice Javascript SDK developer documentation:
            // https://www.uservoice.com/o/javascript-sdk
            //

            // Set colors
            UserVoice.push(['set', {
                accent_color: '#448dd6',
                trigger_color: 'white',
                trigger_background_color: 'rgba(46, 49, 51, 0.6)'
            }]);

            // Identify the user and pass traits
            // To enable, replace sample data with actual user traits and uncomment the line
            UserVoice.push(['identify', {
                //email:      'john.doe@example.com', // User’s email address
                //name:       'John Doe', // User’s real name
                //created_at: 1364406966, // Unix timestamp for the date the user signed up
                //id:         123, // Optional: Unique id of the user (if set, this should not change)
                //type:       'Owner', // Optional: segment your users by type
                //account: {
                //  id:           123, // Optional: associate multiple users with a single account
                //  name:         'Acme, Co.', // Account name
                //  created_at:   1364406966, // Unix timestamp for the date the account was created
                //  monthly_rate: 9.99, // Decimal; monthly rate of the account
                //  ltv:          1495.00, // Decimal; lifetime value of the account
                //  plan:         'Enhanced' // Plan name for the account
                //}
            }]);

            // Add default trigger to the bottom-right corner of the window:
            UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

            // Or, use your own custom trigger:
            //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

            // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
            UserVoice.push(['autoprompt', {}]);
        </script>
    }
</body>

</html>
