<div class="page-header">
    <ul class="list-inline pull-right">
        <li ng-if="isAdmin">
            <button class="btn btn-default" role="button" ng-click="export(null)">
                <span class="glyphicon glyphicon-save"></span> Descargar Contenido
            </button>
        </li>
        <li ng-if="isAdmin">
            <span class="btn btn-default btn-file">
                <span class="glyphicon glyphicon-open"></span> Importar Contenido
                <input type="file" data-fileread="fileImport">
            </span>
        </li>
        <li ng-show="fileImport.FileContent" ng-if="isAdmin">
            <button class="btn btn-primary" role="button" ng-click="import()">
                <span class="glyphicon glyphicon-open"></span>
            </button>
        </li>
        <li ng-if="isAdmin">
            <button class="btn btn-success" role="button" ng-click="lockAll()">
                <span class="fa fa-lock"></span> Lock All
            </button>
        </li>
        <li>
            <button class="btn btn-primary" role="button" ng-click="openNew(null)">
                <span class="glyphicon glyphicon-plus"></span> Nueva Propiedad
            </button>
        </li>
    </ul>
    <h1>Contenido</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle ng-attr-data-nodrag="{{item.Lock?true:undefined}}">
                <ul class=" list-inline pull-right">
                    <li>
                        <a class="btn btn-primary btn-xs" data-nodrag ng-click="duplicate(this,item)">
                            <span class="fa fa-copy"></span> Duplicate
                        </a>
                    </li>
                    <li ng-if="isAdmin" ng-init="item.FileImport={}">
                        <span class="btn btn-default btn-xs btn-file">
                            <span class="glyphicon glyphicon-open"></span> Importar Contenido
                            <input type="file" data-fileread="item.FileImport">
                        </span>
                    </li>
                    <li ng-show="item.FileImport.FileContent" ng-if="isAdmin">
                        <button class="btn btn-primary btn-xs" data-nodrag role="button" ng-click="import(item)">
                            <span class="glyphicon glyphicon-open"></span>
                        </button>
                    </li>
                    <li ng-if="isAdmin">
                        <a class="btn btn-default btn-xs" data-nodrag role="button" ng-click="export(item)">
                            <span class="glyphicon glyphicon-save"></span> Descargar Contenido
                        </a>
                    </li>
                    <li ng-show="item.ContentPropertyType==3">
                        <a class="btn btn-primary btn-xs" data-nodrag ng-click="openNew(this)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                    <li ng-hide="item.Lock">
                        <a class="btn btn-danger btn-xs" data-nodrag ng-click="removeContent(this)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </li>
                    <li ng-if="isAdmin">
                        <a class="btn btn-danger btn-xs" data-nodrag ng-click="lock(item,false)" ng-show="item.Lock">
                            <span class="fa fa-lock"></span>
                        </a>
                        <a class="btn btn-success btn-xs" data-nodrag ng-click="lock(item,true)" ng-hide="item.Lock">
                            <span class="fa fa-unlock"></span>
                        </a>
                    </li>
                    <li ng-if="isAdmin">
                        <a class="btn btn-success btn-xs" data-nodrag ng-click="showInContent(item,false)" ng-show="item.ShowInContent">
                            In Content
                        </a>
                        <a class="btn btn-default btn-xs" data-nodrag ng-click="showInContent(item,true)" ng-hide="item.ShowInContent">
                            Not In Content
                        </a>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
                            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                        </a>
                    </li>
                    <li ng-hide="item.edit==true">
                        {{item.ContentPropertyAlias}}
                        -
                        <small ng-if="item.ContentPropertyType==1">[IMG]</small>
                        <small ng-if="item.ContentPropertyType==2">[TXT]</small>
                        <small ng-if="item.ContentPropertyType==3">[LIST]</small>
                        <small ng-if="item.ContentPropertyType==4">[HTML]</small>
                        &nbsp;
                        <a class="btn btn-primary btn-xs" data-nodrag ng-click="edit(item)" ng-hide="item.Lock">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <ol ui-tree-nodes="options" ng-model="item.Items" ng-class="{hidden: collapsed}">
                <li ng-repeat="item in item.Items" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>
        <div ui-tree="options">
            <ol ui-tree-nodes="" ng-model="data" id="tree-root">
                <li ng-repeat="item in data" ui-tree-node ng-include="'nodes_renderer.html'" data-collapsed="true"></li>
            </ol>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Datos de la Propiedad</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="create()">
                    <div class="alert alert-info" ng-show="contentParent!=null">
                        <label>Sección Padre: {{contentParent.ContentPropertyAlias}}</label>
                        <input type="hidden" ng-model="content.ContentPropertyParentID">
                        <input type="hidden" ng-model="content.ContentPropertyID">
                    </div>
                    <div class="form-group">
                        <label>Nombre de la Propiedad</label>
                        <input type="text" class="form-control" placeholder="Escriba el Nombre de la Propiedad" ng-model="content.ContentPropertyAlias" required>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Propiedad</label>
                        <select class="form-control" ng-model="content.ContentPropertyTypeOptions" ng-options="item.TypeName for item in properties track by item.TypeID"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar Propiedad" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-export" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Site Content</h4>
            </div>
            <div class="modal-body" style="overflow: scroll; max-height: 350px;">
                <p>
                    <button class="btn btn-block btn-primary" ng-click="selectText()">Select Text</button>
                </p>
                <code id="code-export">
                    {{exportContent}}
                </code>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-import" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Import Site Content</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="import()">
                    <div class="form-group">
                        <label>Site JSON Content</label>
                        <textarea class="form-control" ng-model="importContent" required rows="8"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Import and Create Site" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>