<div class="page-header">
    <ul class="list-inline pull-right">
        <li>
            <a class="btn btn-primary" role="button" ng-href="#pages">
                <span class="glyphicon glyphicon-arrow-left"></span> Atras a Páginas
            </a>
        </li>
        <li>
            <select ng-options="culture as culture.Name for culture in cultures"
                    ng-model="selectedCulture"
                    ng-change="updateCulture()"
                    class="form-control"></select>
        </li>
    </ul>
    <h1>{{page.TitlePage}}</h1>
</div>
<form role="form" ng-submit="save()">
    <tabset>
        <tab heading="Información">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombre de la Página</label>
                        <input class="form-control" ng-model="page.Name">
                    </div>
                    <div class="form-group">
                        <label>Título de la Página</label>
                        <input class="form-control" ng-model="page.TitlePage">
                    </div>
                    <div class="form-group">
                        <label>Friendly Url</label>
                        <div class="input-group">
                            <div class="input-group-addon">/</div>
                            <input class="form-control" ng-model="page.FriendlyUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>View Render</label>
                        <input class="form-control" ng-model="page.ViewRender">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Alias</label>
                        <input class="form-control" ng-model="page.PageAlias">
                    </div>
                    <div class="form-group">
                        <label>Metatag Description ({{page.MetaDescription.length==null?0:page.MetaDescription.length}})</label>
                        <span class="label label-warning" ng-show="page.MetaDescription.length==null || page.MetaDescription.length<metatagDescriptionMin || page.MetaDescription.length>metatagDescriptionMax">
                            <i class="fa fa-warning"></i>
                        </span>
                        <span class="label label-success" ng-show="page.MetaDescription.length>=metatagDescriptionMin && page.MetaDescription.length<=metatagDescriptionMax">
                            <i class="fa fa-check"></i>
                        </span>
                        <textarea class="form-control" ng-model="page.MetaDescription"></textarea>
                        <small class="help-block">Try adding a metatag description between <b>{{metatagDescriptionMin}}</b> and <b>{{metatagDescriptionMax}}</b> characteres</small>
                    </div>
                    <div class="form-group">
                        <label>Redirect Url</label>
                        <input class="form-control" ng-model="page.RedirectUrl">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-ng-model="page.Published">Publicado
                        </label>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Open Graph">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Open Graph Title</label>
                        <input class="form-control" ng-model="page.OGraph.OGraphTitle">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Open Graph Description</label>
                        <textarea class="form-control" ng-model="page.OGraph.OGraphDescription"></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Open Graph Imagen</label>
                        <input type="file" data-fileread="page.OGraph.FileRead" />
                        <img ng-src="{{page.OGraph.FileRead.MediaUrl}}"
                             ng-show="page.OGraph.FileRead.MediaUrl
                         && !page.OGraph.FileRead.FileContent
                         && !page.OGraph.FileRead.Deleting" class="img-responsive img-thumbnail" />
                        <img ng-src="{{page.OGraph.FileRead.FileContent}}"
                             ng-show="page.OGraph.FileRead.FileContent
                         && !page.OGraph.FileRead.Deleting"
                             class="img-responsive img-thumbnail" />
                        <button class="btn btn-danger" type="button"
                                ng-show="!page.OGraph.FileRead.Deleting
                             && page.OGraph.FileRead!=null"
                                ng-click="page.OGraph.FileRead.Deleting=true;">
                            Eliminar Imagen
                        </button>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Advanzado">

        </tab>
    </tabset>
    <p>
        <button type="submit" class="btn btn-default">Guardar</button>
    </p>
</form>
