<div class="page-header">
    <ul class="list-inline pull-right">
        <li>
            <a class="btn btn-primary" role="button" ng-href="#/products">
                <span class="fa fa-arrow-left"></span> Atras
            </a>
        </li>
    </ul>
    <h1>Productos</h1>
</div>
<!--<code>
    {{model.ProductCultures}}
</code>-->
<form ng-submit="save()">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Alias del Producto</label>
                <input type="text" class="form-control" ng-model="model.ProductAlias" required />
            </div>
            <hr />
            <div class="form-group">
                <label>Categorias</label>
                <input type="text" class="form-control" ng-change="loadCategories(queryCategories)" ng-model="queryCategories" />
                <div class="list-group list-group-autocomplete" ng-show="categories!=null && categories.length>0">
                    <a ng-click="addCategory(item)" href="" class="list-group-item" ng-repeat="item in categories">
                        {{item.CategoryAlias}}
                    </a>
                </div>
                <button class="btn btn-sm btn-default" ng-repeat="item in model.ProductCategories" ng-show="item.Deleting==null || item.Deleting==false" ng-click="removeCategory(item)" type="button">
                    {{item.CategoryAlias}} <i class="fa fa-remove"></i>
                </button>
            </div>
            <hr />
            <div class="form-group">
                <label>Tags</label>
                <input type="text" class="form-control" ng-change="loadTags(queryTags)" ng-model="queryTags" />
                <div class="list-group list-group-autocomplete" ng-show="tags!=null && tags.length>0">
                    <a ng-click="addTag(item)" href="" class="list-group-item" ng-repeat="item in tags">
                        {{item.TagName}}
                    </a>
                </div>
                <button class="btn btn-sm btn-default" ng-repeat="item in model.ProductTags" ng-show="item.Deleting==null || item.Deleting==false" ng-click="removeTag(item)" type="button">
                    {{item.TagName}} <i class="fa fa-remove"></i>
                </button>
            </div>
            <hr />
            <div class="form-group" ng-repeat="item in model.ProductCurrencies">
                <label>Precio [{{item.CurrencyName}}]</label>
                <input type="number" class="form-control" ng-model="item.Price" required />
            </div>
        </div>
        <div class="col-md-9">
            <tabs>
                <pane title="{{item.CultureName}}" ng-repeat="item in model.ProductCultures">
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <img ng-src="{{item.IconPath}}" class="img-responsive img-thumbnail" width="200" ng-show="item.IconPath && !item.IconFile" />
                            <img ng-src="{{item.IconFile.FileContent}}" ng-show="item.IconFile" class="img-responsive img-thumbnail" width="200" />
                            <span class="btn btn-default btn-file">
                                <span class="glyphicon glyphicon-open"></span> Ícono
                                <input type="file" data-fileread="item.IconFile">
                            </span>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Nombre del Producto [{{item.CultureName}}]</label>
                                <input type="text" class="form-control" ng-model="item.ProductName" required />
                            </div>
                            <div class="form-group">
                                <label>Friendly Url</label>
                                <input type="text" class="form-control" ng-model="item.FriendlyUrl" />
                            </div>
                            <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" ng-model="item.Description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Imformación Adicional</label>
                                <textarea class="form-control" ng-model="item.AdditionalInformation" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </pane>
            </tabs>
            <label>
                Galería
            </label>
            <div class="row">
                <div class="col-md-2" ng-repeat-start="itemG in model.ProductGalleries">
                    <div class="thumbnail">
                        <img ng-src="{{itemG.PhotoPath}}" />
                        <button class="btn btn-block btn-danger btn-sm" ng-click="deleteGallery(itemG)">
                            Eliminar
                        </button>
                    </div>
                </div>
                <div class="clearfix" ng-if="$index%12==5"></div>
                <div ng-repeat-end=""></div>
            </div>
            <div ngf-drop="uploadFiles($files)" ng-model="model.Files" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true"
                 ngf-pattern="'image/*'">Drop Images or PDFs files here</div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            <ul ng-show="model.Files.length > 0">
                <li ng-repeat="f in model.Files">
                    <img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" class="thumb">
                    <span class="progress" ng-show="f.progress >= 0">
                        <div style="width:{{f.progress}}%">{{f.progress}}%</div>
                    </span>
                    <button class="button" ng-click="f.upload.abort();f.upload.aborted=true"
                            ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">
                        Abort
                    </button>
                    {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                    <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
                    <div ng-show="f.showDetail">
                        <br />
                        <div data-ng-show="f.result.result == null">{{f.result}}</div>
                        <ul>
                            <li ng-repeat="item in f.result.result">
                                <div data-ng-show="item.name">file name: {{item.name}}</div>
                                <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                                <div data-ng-show="item.value">value: {{item.value}}</div>
                            </li>
                        </ul>
                        <div data-ng-show="f.result.requestHeaders">request headers: {{f.result.requestHeaders}}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar Producto" class="btn btn-primary" />
    </div>
</form>
