<div class="page-header">
    <ul class="list-inline pull-right">
        <li>
            <select ng-options="category as category.CategoryAlias for category in categories"
                    ng-model="selectedCategory"
                    ng-change="changeCategory()"
                    class="form-control">
                <option value="">TODAS LAS CATEGORIAS</option>
            </select>
        </li>
        <li>
            <a class="btn btn-primary" role="button" ng-href="#/product">
                <span class="glyphicon glyphicon-plus"></span> Nuevo Producto
            </a>
        </li>
    </ul>
    <h1>Productos</h1>
</div>
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle ng-attr-data-nodrag="{{selectedCategory.CategoryID==0}}">
        <ul class="list-inline pull-right">
            <li>
                <button class="btn btn-danger btn-xs" ng-click="enableNew(item,true)" ng-hide="item.New">
                    <span class="fa fa-remove"></span> Nuevo
                </button>
                <button class="btn btn-success btn-xs" ng-click="enableNew(item,false)" ng-show="item.New">
                    <span class="fa fa-check"></span> Nuevo
                </button>
            </li>
            <li>
                <button class="btn btn-danger btn-xs" ng-click="enableFeatured(item,true)" ng-hide="item.Featured">
                    <span class="fa fa-remove"></span> Popular
                </button>
                <button class="btn btn-success btn-xs" ng-click="enableFeatured(item,false)" ng-show="item.Featured">
                    <span class="fa fa-check"></span> Popular
                </button>
            </li>

            <li>
                <button class="btn btn-danger btn-xs" ng-click="enable(item,true)" ng-hide="item.Enabled">
                    <span class="fa fa-remove"></span> Desabilitado
                </button>
                <button class="btn btn-success btn-xs" ng-click="enable(item,false)" ng-show="item.Enabled">
                    <span class="fa fa-check"></span> Habilitado
                </button>
            </li>
            <li>
                <a class="btn btn-sm btn-default" ng-href="#/product/{{item.ProductID}}" data-nodrag>
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </li>
            <li>
                <button class="btn btn-sm btn-danger" ng-click="delete(item)" data-nodrag>
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </li>
        </ul>
        <ul class="list-inline">
            <li>
                <img ng-src="{{item.IconPath}}" width="60" />
            </li>
            <li>
                {{item.ProductAlias}}
            </li>
            <li>
                {{item.Priority}}
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</script>
<div ui-tree="options" class="ui-tree-tw">
    <ol ui-tree-nodes="" ng-model="data" id="tree-root">
        <li ng-repeat="item in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</div>
<div class="modal fade" id="modal-new" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Datos del Producto</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="save()">
                    <div class="form-group">
                        <label>Nombre del Producto</label>
                        <input type="text" class="form-control" ng-model="model.ProductAlias" required />
                    </div>
                    <div ng-repeat="item in model.ProductCultures">
                        <div class="form-group">
                            <label>Nombre del Producto [{{item.CultureName}}]</label>
                            <input type="text" class="form-control" ng-model="item.ProductName" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar Producto" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
