@model thewall9.data.binding.PageWeb
@{
    Layout = "~/Views/Shared/_LayoutIntern.cshtml";
}
<section id="pricing">
    <div class="bg-white margin-top">
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <td>Página Web Personalizada</td>
                        <td>Página Web (Plantilla)</td>
                        <td>Página Web (Custom)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Diseño web totalmente personalizado</td>
                        <td>
                            <i class="fa fa-check-square text-success"></i>
                        </td>
                        <td>
                            <i class="fa fa-times-circle text-danger"></i>
                        </td>
                        <td>
                            <i class="fa fa-check-square text-success"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
@section styles{

}
@section scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}