html,
body {
  background-color: #F1F1F1;
}
header.header {
  padding: 10px 0px;
}
header.header .col-md-6.mtop,
header.header .col-md-3.mtop {
  margin-top: 30px;
}
header.header .btn-group-cart {
  width: 100%;
}
header.header .btn-group-cart .icon-cart {
  margin-right: 5px;
}
header.header .btn-group-cart .dropdown-menu {
  z-index: 1001;
  left: inherit;
  right: 0;
}
header.header .btn-group-cart ul.cart-content {
  min-width: 250px;
}
header.header .btn-group-cart ul.cart-content b {
  font-weight: normal;
  display: block;
  color: #428BCA;
}
/*MISC*/
.margin-top-10 {
  margin-top: 10px;
}
/*YOUR CUSTOM BOOTSTRAP*/
/*--------------Extra small devices Phones (<768px)---------------*/
