html,
body {
  background-color: #F1F1F1;
}
header.header {
  padding: 10px 0px;
}
header.header .mtop {
  margin-top: 30px;
}
header.header .btn-group-header {
  width: 100%;
}
header.header .btn-group-header .btn {
  width: 100%;
}
header.header .btn-group-header .icon-header {
  margin-right: 5px;
}
header.header .btn-group-header .dropdown-menu {
  z-index: 1001;
  left: inherit;
  right: 0;
}
header.header .btn-group-header ul.header-content {
  min-width: 250px;
}
header.header .btn-group-header ul.header-content b {
  font-weight: normal;
  display: block;
  color: #428BCA;
}
.thumbnail-products {
  height: 400px;
}
.thumbnail-products .description {
  height: 90px;
}
.list-group-autocomplete {
  position: fixed;
  z-index: 100;
}
.tbl-cart thead {
  background: #f8f8f8;
}
.tbl-checkout tbody tr td:nth-child(odd) {
  background: #f8f8f8;
}
.navbar {
  margin-bottom: 0px;
}
.body {
  background: #fff;
  padding: 20px;
}
.body div.subtitle {
  font-size: 18px;
  border-bottom: 3px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 20px;
  color: #4c7ed3;
  text-transform: uppercase;
}
footer.footer {
  background-color: #313131;
  padding: 10px;
}
footer.footer h4 {
  margin: 0px 0px 10px 0px;
  padding: 10px 0;
  color: #eee;
  border-bottom: 1px solid #5d5d5d;
}
footer.footer ul li {
  color: #a09f9f;
}
footer.footer ul li a {
  color: #a09f9f;
}
/*MISC*/
.margin-top-10 {
  margin-top: 10px;
}
/*BOOSTRAP*/
.navbar-toggle {
  margin-right: 5px;
}
.navbar-default {
  border-radius: 0px;
  background-color: #535252;
  border-color: #428bca;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  padding: 5px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.navbar-default .navbar-toggle {
  border-color: #428bca;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
/*YOUR CUSTOM BOOTSTRAP*/
/*Tablet Portrait*/
/*Phone Portrait*/
@media only screen and (max-width: 768px) {
  header.header .col-md-6.mtop,
  header.header .col-md-3.mtop {
    margin-top: 5px;
  }
  /*BOOSTRAP*/
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #428bca;
  }
}
