@model thewall9.data.binding.CategoryWeb
<a href="category/@Model.FriendlyUrl">
    @Model.CategoryName
</a>
@if (Model.CategoryItems.Count > 0)
{
    <ul>
        @foreach (var item in Model.CategoryItems)
        {
            <li>
                @Html.Partial("_Categories", item)
            </li>
        }
    </ul>
}
