@model thewall9.data.binding.ProductsWeb
@{
    var _PageModel = TempData["PageModel"] as thewall9.data.binding.PageWeb;
}
<script>
    var _Products=@Html.Raw(Json.Encode(Model));
</script>
<div class="row" ng-controller="productsController">
    <div class="col-md-3">
        <div class="subtitle">
            @Html.FindValue(_PageModel, "categories")
        </div>
        <script type="text/ng-template" id="_categories.html">
            <a ng-href="/@Html.LinkCatalog()/{{item.FriendlyUrl}}/{{item.CategoryID}}" href="">
                {{item.CategoryName}}
            </a>
            <ul ng-if="item.CategoryItems">
                <li ng-repeat="item in item.CategoryItems" ng-include="'_categories.html'">
                </li>
            </ul>
        </script>
        <ul class="list-unstyled">
            <li class="list-group-item" ng-repeat="item in data.Categories" ng-include="'_categories.html'">
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="subtitle">
            @Html.FindValue(_PageModel, "products")
        </div>
        <div class="col-md-4" ng-repeat-start="item in data.Products">
            <div class="thumbnail">
                <a href="" ng-href="/p/{{item.FriendlyUrl}}">
                    <img ng-src="{{item.IconPath}}" />
                </a>
                <div class="text-center">
                    <a href="" ng-href="/p/{{item.FriendlyUrl}}">
                        {{item.ProductName}}
                    </a>
                    <div class="small">
                        {{item.Description}}
                    </div>
                    <div>
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default" ng-click="addProduct(item)">
                                {{moneySymbol}} {{item.Price}}
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="addProduct(item)">
                                <i class="fa fa-shopping-cart"></i> Buy
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" ng-if="$index%3==2"></div>
        <div ng-repeat-end=""></div>
        <div class="clearfix"></div>
        <nav ng-if="item.NumberPages>0">
            <ul class="pagination">
                <li>
                    <a href="/products/1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="item in NumberPagesArray">
                    <a href="/products/{{item}}">
                        {{item}}
                    </a>
                </li>
                <li>
                    <a href="/products/{{item.NumberPages + 1}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>