<div ng-controller="cartController">
    <div class="subtitle">
        Checkout
    </div>
    <table class="table table-bordered tbl-cart">
        <thead>
            <tr>
                <td class="hidden-xs">Image</td>
                <td>Product Name</td>
                <td class="td-qty">Quantity</td>
                <td>Unit Price</td>
                <td>Sub Total</td>
                <td>Remove</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in cart">
                <td class="hidden-xs">
                    <a href="detail.html">
                        <img ng-src="{{item.IconPath}}" alt="{{item.ProductName}}" title="" width="47" height="47" />
                    </a>
                </td>
                <td>
                    <a href="detail.html">
                        {{item.ProductName}}></a>
                </td>
                <td>
                    <div class="input-group" style="max-width:130px;">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-info" data-dir="dwn" ng-click="updateNumber(item,-1)" ng-disabled="item.Number<=1">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control text-center" value="1" min="1" max="1000" ng-model="item.Number">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-info" data-dir="up" ng-click="updateNumber(item,1)">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </td>
                <td class="price">
                    {{moneySymbol}} {{item.Price}}
                </td>
                <td>{{moneySymbol}} {{item.Price*item.Number}}</td>
                <td class="text-center">
                    <button class="btn btn-danger btn-sm" ng-click="removeCart(item)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="4">Shipping Rate</td>
                <td colspan="2">{{moneySymbol}} 5</td>
            </tr>
            <tr>
                <td colspan="4">Total</td>
                <td colspan="2">{{moneySymbol}} {{totalCart()}}</td>
            </tr>
        </tbody>
    </table>
        <button type="button" class="btn btn-primary">
            Confirm Order <i class="fa fa-arrow-circle-right"></i>
        </button>
</div>